*.csv
*.pickle
*.pdf
*.txt
*.png
.vscode/
advanced-algorithmic-trading/.vscode/
preparing/forexcalculator/.vscode/
preparing/forexcalculator/__pycache__/
advanced-algorithmic-trading/__pycache__/
maintainingcode/.vscode/